body {
  background-image: url('~/src/assets/img/fondoLoginRegistro_auto_x2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.full{
  height: 100vh;
}

.form-input{
  width: 400px;
  height: 30px;
  padding-left: 15px;
  margin-bottom: 20px;
  border: 1px solid #00000020;
  border-radius: 50px;
  outline: none;
  display:block;
}

@media (max-width: 1025px) {
  .form-input{
    width: 400px;
    height: 30px;
    padding-left: 15px;
    margin-bottom: 5px;
    border: 1px solid #00000020;
    border-radius: 50px;
    outline: none;
    display:block;
  } 
}

@media (max-width: 576px) {
  .form-input{
    width: 200px;
    height: 20px;
    padding-left: 15px;
    margin-bottom: 5px;
    border: 1px solid #00000020;
    border-radius: 50px;
    outline: none;
    display:block;
  } 
}

