<app-header></app-header>
<div class = "container py-5">
    <div class = "row">
        <div class = "col">
            <h1 class = "fw-bolder text-center">EJERCICIOS</h1>
        </div>
    </div>
    <div class = "row">
        <div class = "col">
            <p class = "text-center fw-bolder">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius beatae dolore repellendus aliquam deserunt laudantium distinctio et minus accusantium quae, perferendis consequatur recusandae dolor rem accusamus? Quae tempora tempore est.</p>
        </div>
    </div>
    <hr class="mb-4 mt-0 d-inline-block mx-auto"
    style="width: 100%; background-color: #6D0000; height: 2px"/>
</div>
<app-footer></app-footer>
