<app-header></app-header>
<div class = "container">
    <div class = "row my-3">
        <div class = "col-lg-3 text-center mt-3">
            <img src="../../../assets/img/usuario.png" alt="Usuario Generico" class="tamano-foto">
        </div>
        <div class = "col mt-3">
            <div class = "text-center">
                <h3 class = "fw-bolder">Mis Datos</h3>
                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 10rem; color:#6D0101;"/>
            </div>
            <div class = "container">
                <div class = "row">
                    <div class = "col">
                            <h4 class = "fw-bolder margen">Nombre: <h5 class = "quitarSalto margenLetras fw-bolder">Diego Duran.</h5></h4>
                            <h4 class = "fw-bolder margen">Edad: <h5 class = "quitarSalto margenLetras fw-bolder">20.</h5></h4>
                            <h4 class = "fw-bolder margen">Peso: <h5 class = "quitarSalto margenLetras fw-bolder">80 Kilogramos.</h5></h4>
                            <h4 class = "fw-bolder margen">Nacionalidad: <h5 class = "quitarSalto margenLetras fw-bolder">Chilena.</h5></h4>
                    </div>
                    <div class = "col">
                        <h4 class = "fw-bolder margen">Contextura: <h5 class = "quitarSalto margenLetras fw-bolder">Musculosa.</h5></h4>
                        <h4 class = "fw-bolder margen">Objetivo: <h5 class = "quitarSalto margenLetras fw-bolder">Definir.</h5></h4>
                        <h4 class = "fw-bolder margen">Cantidad de ejercicio: <h5 class = "quitarSalto margenLetras fw-bolder">5 Veces por semana.</h5></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "row my-3">
        <div class = "text-center">
            <h3 class = "fw-bolder">Mis Rutinas</h3>
            <hr class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 12rem; color:#6D0101;"/>
        </div>
    </div>
    <div class = "container-fluid">
        <div class = "row text-center">
            <div class = "col-lg-4 col-md-6 col-sm-6 my-4" *ngFor="let aux of arrayMostrar">
                <h4 class = "fw-bolder">{{aux.tituloRutina}}</h4>
                <a [routerLink] = "['/Ejercicios','1']"><img class = "tamaño-fotos rounded" src="../../../assets/img/rutinasPerfil.jpeg" alt="Foto Referencia Abdominal"></a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>