body{
  //background-image: url('~/src/assets/img/fondoLoginRegistro.jpg');
  background-repeat: no-repeat;
}
formulario{
  background-color: #FFFFFF;
  padding: 2%;
}

contedorFormulario{
  background-color: #FFFFFF;
  opacity: 0.63;
}
