<div class="fotoBack">
	<div class="container full d-flex justify-content-center align-items-center">
		<div class="row justify-content-center">
			<div class="col">
				<div class="card">
					<div class="card-top text-center mt-5">
						<a [routerLink]="['']"><img src="../assets/img/nullEnRojo.png" height="55rem;"></a>
					</div>
					<div class="card-body p-5">
						<div class="row d-flex justify-content-center align-items-center">
							<div class="col">
								<form [formGroup]="formularioLogin" (ngSubmit)="iniciarSesion()">
									<label for="campoCorreoElectronico">Correo electronico</label>
									<input type="email" class="form-input" id="campoCorreoElectronico"
									       aria-describedby="emailHelp"
									       placeholder="Ej: Sergio.a@correo.cl" formControlName="correo">
									<div *ngIf="formularioLogin.get('correo')?.touched && formularioLogin.get('correo')?.errors?.['required']"
									     class="errorCualquiera">Este campo es obligatorio
									</div>
									<div *ngIf="formularioLogin.get('correo')?.touched && formularioLogin.get('correo')?.errors?.['pattern']"
									     class="errorCualquiera ">Este campo debe tener formato de correo
									</div>
									<label for="campoContraseña">Contraseña</label>
									<input type="password" class="form-input" id="campoContraseña"
									       placeholder="**********"
									       formControlName="password">
									<div *ngIf="formularioLogin.get('password')?.touched && formularioLogin.get('password')?.errors?.['required']"
									     class="alert alert-danger">Este campo es obligatorio
									</div>
									<div *ngIf="formularioLogin.get('password')?.touched && formularioLogin.get('password')?.errors?.['pattern']"
									     class="alert alert-danger">La contraseña debe como minimo una letra, un numero y 6 caracteres
									</div>

									<div class="text-center">
										<button type="submit" class="btn btn-danger mt-2">Iniciar Sesion</button>
									</div>
								</form>
							</div>
						</div>
						<hr class="my-3 d-inline-block mx-auto"
						    style="width: 100%; background-color: #6D0000; height: 2px"/>
						<div class="row">
							<div class="col">
								<div class="text-center">
									<h5 class="mb-4">¿No estas registrado?</h5>
									<a type="button" class="btn btn-danger" [routerLink]="['/Registro']">Registrarse</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
