body {
  background-image: url('~/src/assets/img/fondoLoginRegistro_auto_x2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.formulario {
  background-color: #FFFFFF;
  padding: 2%;
}

.contenedorFormulario {
  background-color: #FFFFFF;
  height: 70%;
  width: 60%;
}

.fuente {
  font-size: larger;
}
